@4tecture:registry=https://4tecture.pkgs.visualstudio.com/_packaging/CoPassword/npm/registry/
@4tecture:always-auth=true
@copassword:registry=https://4tecture.pkgs.visualstudio.com/_packaging/CoPassword/npm/registry
@copassword:always-auth=true
registry=https://registry.npmjs.org